
/* Autres ---------------------------------------- */
body {
    text-align: center;
}

/* Plateau --------------------------------------- */

#plateau_id {
    height: 600px;
    width: 600px;

    position: relative;
    margin: auto;

    background-color: green;

    display: flex;
    flex-direction: column;
}

.ligne_c {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    flex-direction: row;
}

.cellule_c {
    height: 150px;
    width: 150px;

    position: relative;
    margin: auto;

    background-color: blue;
}

/* Pions ----------------------------------------- */
.pion-petit {
    background-color: rgb(255, 17, 0);
}

.pion-moyen {
    background-color: lightcoral;
}

.pion-grand {
    background-color: darkred;
}

.pion-rouge {
    background-color: red;
}

.pion-bleu {
    background-color: blue;
}



