/* Classes --------------------------------------- */
.ligne_c {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    flex-direction: row;
}

.cellule_c {
    height: 150px;
    width: 150px;

    position: relative;
    margin: auto;

    background-color: blue;
}

/* ID -------------------------------------------- */
#plateau_id {
    height: 600px;
    width: 600px;

    position: relative;
    margin: auto;

    background-color: green;

    display: flex;
    flex-direction: column;
}

/* Autres ---------------------------------------- */
body {
    text-align: center;
}
